<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<link rel="stylesheet" th:href="@{/dist/css/style.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/forms.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/board.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/paginate.css}" type="text/css">

<style type="text/css">
  .body-container { margin: 30px auto; width: 700px; }
</style>

<script type="text/javascript" th:src="@{/dist/js/paging.js}"></script>
<script type="text/javascript">
// 페이징 처리
window.addEventListener("load", function() {
	let page = '[[${page}]]';
	let pageSize = '[[${size}]]';
	let dataCount = '[[${dataCount}]]';
	let url = '[[@{/bbs/list}]]';
	let search = '[[${not #strings.isEmpty(kwd)}]]';
	if(search === 'true') {
		url = '[[@{/bbs/list(schType=${schType}, kwd = ${kwd})}]]';
	}
	
	let total_page = pageCount(dataCount, pageSize);
	let paging = pagingUrl(page, total_page, url);
	
	document.querySelector('.dataCount').innerHTML = dataCount + '개 ('+ page + '/' + total_page + '페이지)';
	document.querySelector('.page-navigation').innerHTML = 
			dataCount === 0 ? '등록된 게시물이 없습니다.' : paging;
});

</script>

<script type="text/javascript">
function searchList() {
	const f = document.searchForm;
	f.submit();
}
</script>
</head>
<body>

<div class="body-container">
	<div class="body-title">
	    <h2>▢ 게시판</h2>
	</div>
	
	<div class="body-main">
		<table class="table">
			<tr>
				<td width="50%"><span class="dataCount"></span></td>
				<td align="right">&nbsp;</td>
			</tr>
		</table>
		
		<table class="table table-border table-list">
			<thead>
				<tr>
					<th width="60">번호</th>
					<th>제목</th>
					<th width="100">작성자</th>
					<th width="100">작성일</th>
					<th width="70">조회수</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="dto, status: ${list}" >
					<td th:text="${dataCount-(page-1)*size-status.index}"></td>
					<td class="left">
						<a th:if="${#strings.isEmpty(kwd)}" th:href="@{/bbs/article(num=${dto.num}, page=${page})}" th:text="${dto.subject}"></a>
						<a th:if="${not #strings.isEmpty(kwd)}" th:href="@{/bbs/article(num=${dto.num}, page=${page}, schType=${schType}, kwd=${kwd})}" th:text="${dto.subject}"></a>
					</td>
					<td th:text="${dto.name}"></td>
					<td th:text="${dto.reg_date}"></td>
					<td th:text="${dto.hitCount}"></td>
				</tr>
			</tbody>
			
		</table>
		
		<div class="page-navigation"></div>
		
		<table class="table">
			<tr>
				<td width="100">
					<button type="button" class="btn" th:onclick="|location.href='@{/bbs/list}'|">새로고침</button>
				</td>
				<td align="center">
					<form name="searchForm" th:action="@{/bbs/list}" method="post">
						<select name="schType" class="form-select">
							<option value="all" th:selected="${schType} == 'all'">제목+내용</option>
							<option value="name" th:selected="${schType} == 'name'">작성자</option>
							<option value="reg_date" th:selected="${schType} == 'reg_date'">등록일</option>
							<option value="subject" th:selected="${schType} == 'subject'">제목</option>
							<option value="content" th:selected="${schType} == 'content'">내용</option>
						</select>
						<input type="text" name="kwd" th:value="${kwd}" class="form-control">
						<button type="button" class="btn" onclick="searchList()">검색</button>
					</form>
				</td>
				<td align="right" width="100">
					<button type="button" class="btn" th:onclick="|location.href='@{/bbs/write}'|">글올리기</button>
				</td>
			</tr>
		</table>
	</div>
</div>

</body>
</html>